# Signing
*.keystore
*.jks
*.pem

# APK/AAB
*.apk
*.aab
app/release/

# Android Studio
.idea/
.gradle/
local.properties
*.iml

# Build
build/
app/build/

# OS specific
.DS_Store

# Captures
/captures
.externalNativeBuild
.cxx
